body {
  margin: 100px;
  font-family: karlav, sans-serif;
  font-weight: 600;
  background-color: #000000;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.action {
  margin-right: 10px;
  margin-top: 10px;
  font-family: "Inter", sans-serif;
  background-color: #f5f7fb;
  padding: 15px;
  font-weight: 800;
  color: #000000;
  border: 0.75px solid #4d5b9e;
  border-radius: 7.5px;
  cursor: pointer;
}

.action:hover {
  background-color: #d2d5e3;
}

.action:active {
  margin-right: 10px;
  margin-top: 10px;
  font-family: "Inter", sans-serif;
  background-color: #9b9b9b;
  padding: 15px;
  font-weight: 800;
  color: #000000;
}

.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.landing-page > .action {
  width: 100%;
}

:has(> input[type="radio"]:checked) {
  color: hsl(60, 100%, 75%);
}
